The least amount of coins needed to make <%=money%><br>
<div class = "results" onmouseover="color_red(this)" onmouseout="color_blue(this)">
	<%=num1%><br>
	<%=num2%><br>
	<%=num3%><br>
	<%=num4%><br>
	<%=date%>
</div>
<!--body onload = "background_changer()"> -->
<form method = "post" action = "try_again">
	<input type = "hidden" name = "fname" value = "<%=fname%>">
	<input type = "hidden" name = "lname" value = "<%=fname%>">
	<input type = "submit" value = "try again">
</form>

<button type = "button" onclick= "background_changer()">Change background</button>


<script>

// var images = ["/images/mario.gif",
// 			  "/images/banjo.gif",
// 			  "/images/kirby.gif",
// 			  "/images/scenery.gif"]

// var randimages = Math.floor(Math.random() * images.length)		  

function background_changer(){
	var images = ["/images/mario.gif",
			  "/images/banjo.gif",
			  "/images/kirby.gif",
			  "/images/scenery.gif"]

	var count = Math.floor(Math.random() * images.length)
	document.body.style.backgroundImage = "url(" + images[count] +")"
}

function color_red(x){
 x.style.color = "red"

}

function color_blue(x){
	x.style.color = "blue"
}
</script>