The least amount of coins needed to make <%=money%><br>
<%=num1%><br>
<%=num2%><br>
<%=num3%><br>
<%=num4%>


<form method = "post" action = "try_again">
	<input type = "hidden" name = "fname" value = "<%=fname%>">
	<input type = "hidden" name = "lname" value = "<%=fname%>">
	<input type = "submit" value = "try again">
</form>